*.lck
~$*
CAD/OldVersions
CAD/*/OldVersions
CAD/*/*/OldVersions
CAD/*/*/*/OldVersions
CAD/*/*/*/*/OldVersions

zcode/
code/Release/
code/*/Release
code/*/*Release

code/.settings/
schematics/*/*#*
schematics/*#*
*.o
*.pro
*.job
*.zcode
*.d
*.swp
*.pyc

*settings.txt
CAD/Images/
/CAD/stl/
*/*/.settings/

code/ros/*/catkin_generated/
code/ros/*/CMakeFiles/
code/ros/*/catkin_generated/
code/ros/*/cmake_install.cmake
code/ros/*/CTestTestfile.cmake


