<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="minibot">
    <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <!--LINKS: When a link is specified, the parent joint of that link (if it exists) is automatically included-->
    <!--JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
    <!--CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
    <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->
    <group name="minibot_arm">
      <link name="base_link" />
      <link name="shoulder_link" />
      <link name="upperarm_link" />
      <link name="elbow_link" />
      <link name="forearm_link" />
      <link name="wrist_link" />
      <link name="flange_link" />
      <link name="tool0_link" />
      <!-- <chain base_link="base_link" tip_link="tool0_link" /> -->
    </group>
    <group name="palm">
      <link name="knuckle_link" />
      <link name="knuckle_left_link" />
      <link name="knuckle_right_link" />
    </group>
    <group name="hand">
      <link name="finger_link" />
      <link name="finger_centre_link" />
      <link name="finger_left_link" />
      <link name="finger_right_link" />
    </group>
    <group name="minibot_gripper">
      <link name="knuckle_link" />
      <link name="finger_link" />
    </group>
    <end_effector name="gripper" group="minibot_gripper" parent_link="flange_link" parent_group="minibot_arm"/>
    <group name="minibot">
      <link name="base_link" />
      <link name="shoulder_link" />
      <link name="upperarm_link" />
      <link name="elbow_link" />
      <link name="forearm_link" />
      <link name="wrist_link" />
      <link name="flange_link" />
      <link name="tool0_link" />
      <link  name="knuckle_link" />
      <link name="finger_link" />
    </group>


    <!--GROUP STATES: Purpose: Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded arms'-->

    <!--      -->
    <!-- arm  -->
    <!--      -->

    <group_state name="ready_for_action" group="minibot_arm">
      <joint name="base_joint" value="0" />
      <joint name="shoulder_joint" value="0.3" />
      <joint name="upperarm_joint" value="0.3" />
      <joint name="elbow_joint" value="0" />
      <joint name="forearm_joint" value="0" />
      <joint name="wrist_joint" value="0" />
    </group_state>
    <group_state name="relaxed" group="minibot_arm">
      <joint name="base_joint" value="0" />
      <joint name="shoulder_joint" value="0" />
      <joint name="upperarm_joint" value="0" />
      <joint name="elbow_joint" value="0" />
      <joint name="forearm_joint" value="0" />
      <joint name="wrist_joint" value="0" />
    </group_state>

    <!--         -->
    <!-- gripper -->
    <!--         -->

    <group_state name="pinching" group="minibot_gripper">
      <joint name="knuckle_joint" value="0" />
      <joint name="finger_joint" value="0" />
    </group_state>
    <group_state name="seamonster" group="minibot_gripper">
      <joint name="knuckle_joint" value="0" />
      <joint name="finger_joint" value="0" />
    </group_state>
    <group_state name="snake" group="minibot_gripper">
      <joint name="knuckle_joint" value="0" />
      <joint name="finger_joint" value="0" />
    </group_state>
    <group_state name="egggrip" group="minibot_gripper">
      <joint name="knuckle_joint" value="0" />
      <joint name="finger_joint" value="0" />
    </group_state>
    <group_state name="gripping" group="minibot_gripper">
      <joint name="knuckle_joint" value="0" />
      <joint name="finger_joint" value="0" />
    </group_state>

    <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
    <virtual_joint name="virtual_joint" type="fixed" parent_frame="world" child_link="base_link" />
    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions link1="base_link" link2="shoulder_link" reason="Adjacent" />
    <disable_collisions link1="base_link" link2="upperarm_link" reason="Never" />
    <disable_collisions link1="base_link" link2="elbow_link" reason="Never" />
    <disable_collisions link1="shoulder_link" link2="upperarm_link" reason="Adjacent" />
    <disable_collisions link1="shoulder_link" link2="elbow_link" reason="Never" />
    <disable_collisions link1="shoulder_link" link2="forearm_link" reason="Never" />
    <disable_collisions link1="upperarm_link" link2="elbow_link" reason="Adjacent" />
    <disable_collisions link1="upperarm_link" link2="forearm_link" reason="Never" />
    <disable_collisions link1="upperarm_link" link2="wrist_link" reason="Never" />
    <disable_collisions link1="upperarm_link" link2="palm_link" reason="Never" />

    <disable_collisions link1="elbow_link" link2="forearm_link" reason="Adjacent" />
    <disable_collisions link1="elbow_link" link2="wrist_link" reason="Never" />
    
    <disable_collisions link1="forearm_link" link2="wrist_link" reason="Adjacent" />
    <disable_collisions link1="forearm_link" link2="palm_link" reason="Never" />
    <disable_collisions link1="forearm_link" link2="knuckle_left_link" reason="Never" />
    <disable_collisions link1="forearm_link" link2="knuckle_right_link" reason="Never" />
    <disable_collisions link1="forearm_link" link2="finger_centre_link" reason="never" />
    <disable_collisions link1="forearm_link" link2="finger_left_link" reason="never" />
    <disable_collisions link1="forearm_link" link2="finger_right_link" reason="never" />

    <disable_collisions link1="wrist_link" link2="palm_link" reason="Adjacent" />
    <disable_collisions link1="palm_link" link2="knuckle_right_link" reason="Adjacent" />
    <disable_collisions link1="palm_link" link2="knuckle_left_link" reason="Adjacent" />
    <disable_collisions link1="palm_link" link2="finger_centre_link" reason="never" />
    <disable_collisions link1="palm_link" link2="finger_centre_link" reason="never" />
    <disable_collisions link1="palm_link" link2="finger_left_link" reason="never" />
    <disable_collisions link1="palm_link" link2="finger_right_link" reason="never" />

    <disable_collisions link1="knuckle_left_link" link2="finger_left_link" reason="Adjacent" />
    <disable_collisions link1="knuckle_left_link" link2="finger_centre_link" reason="Never" />
    <disable_collisions link1="knuckle_left_link" link2="finger_right_link" reason="Never" />
    <disable_collisions link1="knuckle_right_link" link2="finger_left_link" reason="Adjacent" />
    <disable_collisions link1="knuckle_right_link" link2="finger_centre_link" reason="Never" />
    <disable_collisions link1="knuckle_right_link" link2="finger_right_link" reason="Never" />
    <disable_collisions link1="knuckle_right_link" link2="knuckle_left_link" reason="Never" />

    <disable_collisions link1="finger_centre_link" link2="finger_right_link" reason="Never" />
    <disable_collisions link1="finger_centre_link" link2="finger_left_link" reason="Never" />
    <disable_collisions link1="finger_left_link" link2="finger_right_link" reason="Never" />
</robot>

